.UserMenu {
  display: flex;
  align-items: center;
}
//   avatar: {
//     marginRight: 4,
//   },
.email {
  font-weight: 700;
  margin-right: 12px;
}

.btn {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0071f0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  &:focus,
  &:hover {
    background-color: rgba(0, 113, 240, 0.7);
    color: lightgoldenrodyellow;
  }
}
